<% include ../partials/headerForIndex %>
 
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
          
          
        <style>
        /* Make the image fully responsive */
        .carousel-inner img {
          width: 100%;
          height: 100%;
        }
     
          #demo1{margin-top: 20px;}
        </style>
 
     <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">

          <!--Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
          </ul>

          <!--The slideshow -->
          <div class="carousel-inner">

            <div class="carousel-item active">
              <img src="https://images.unsplash.com/photo-1471085507142-12355181f804?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8347073f0cfd075b51c9bdf525e740b4&auto=format&fit=crop&w=1500&q=80" width="1100" height="500">
              <div id='indexPageFirstSlideCaption' class="carousel-caption d-none d-md-block">
                <h1>Welcome to </h1>
                <img id='logoMainPage' src='logoLg.png'>
                <h2>Most detailed and accurate Travel Blog and Travel adviser</h2>
              </div>
            </div>

            <% allposts.forEach(function(allpostsPlaceholder){ %>

               <div class="carousel-item">
                    <img src="<%= allpostsPlaceholder.images[0]  %>" >
                       
                    </div>
                    <% }); %>
               </div>      



   <!--Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

     <div class='row'>
          <div class='col-lg-12 col-md-12'>
              <div class='container'>
                    <select class='btn btn-lg btn-warning'>
                         <% allposts.forEach(function(allpostsPlaceholder){ %>
                              <option value="<%= allpostsPlaceholder.region  %>"><%= allpostsPlaceholder.region  %> </option>
                         <% }); %>
                     </select>

                    <select class='btn btn-lg btn-warning'>
                         <% allposts.forEach(function(allpostsPlaceholder){ %>
                              <option value="<%= allpostsPlaceholder.subregion  %>"><%= allpostsPlaceholder.subregion  %> </option>
                         <% }); %>
                    </select>  
               </div> 
          </div>
          <div class='col-lg-12 col-md-12'>
               <div class='container'>
                   
              </div> 
          </div>
     </div>
     <!-- End of Carousel-->
     
    
<% include ../partials/footer %>
