    <% include ../partials/header %>
    <link rel="stylesheet" href="/stylesheets/game.css">
    
    <!--GAME OVER SCREE. Hided by default.-->
    <div id='gameEndScreen'>
        <div  id='gameEndScreenSmall'> 
              <h1>Your Score is: <h2 id='finalScreenScores'></h2></h1>
              <button id="playSameGameButton" class="btn btn-lg btn-warning">Play again</button> 
              <button id="newGameButton" class="btn btn-lg btn-success">New country</button> 
        </div>
    </div>
    
    <!-- MAP -->
    <div class="container">
          <div class="noSelect" style="margin: 0 auto; margin-top:65px; width: 80%; height: 50vh;">
                <h2>Visited Countries</h1>
                <% include ../partials/editUserProfileMap %> 
          </div>
    <!--END of MAP-->
         <br>
    <!-- Answers DIVs -->
            <div class="noSelect" id="mainFrame">
                <div class="noSelect" id="question"> </div>
                    <div id="controls" >
                            <ul id="answerOptions" class="row">
                                <li class="wrong col-lg-6 col-md-6 col-xs-12"> </li>
                                <li class="col-lg-6 col-md-6 col-xs-12" id='correctAnswer'> </li>
                                <li class="wrong col-lg-6 col-md-6 col-xs-12"> </li>
                                <li class="wrong col-lg-6 col-md-6 col-xs-12"> </li>  
                            </ul>
                    </div>
                </div>
            </div>
    
    <!--SCORE BOARD. Hided by default.-->
    <div id='scoresDiv'>
        <h2  id='scores'> </h2> 
    </div>
    
    <button id='startTheGame' class='btn btn-lg btn-success'>START</button> 
    
    <!-- Using variables from controller in our JS script tag -->
     Countries Playing: <br><%= countNames %> <br>
     Capitals Playing:<br> <%= countCapitals %><br>
     Population Playing:<br> <%= countPopulation %><br>
     Currency Playing: <br><%= countCurrency %><br>
     Languages Playing:<br> <%= countLang %><br>
    
    <!--Printing out all information about countries. FOR DEVELOPMENT ONLYs-->
    <%= countriesInfo %><br>
    <hr>
   <h1> <% let tempCountriesVisited = foundUser.countriesVisited.split(',') %><br> </h1>
    
    <script  type="text/javascript">
    // DEFINING VARIABLES for GAME and GAME LOGIC
        let score=100;
        let questNumber=-1;
        let latlan;
        let answers=[];
        let currentPlayingCountries;
        let countNamesJs =  <%- countNames %> ;
        let countCapitalsJs =  <%- countCapitals %> ;
        let countPopulationJs =  <%- countPopulation %> ;
        let countLangJs =  <%- countLang %> ;
        let countCurrencyJs =  <%- countCurrency %> ;
        let countRegionJs =   <%- countRegion %> ;
        let countsubRegionJs =   <%- countsubRegion %> ;
        let allInfo  = [] ;
        // Information on all countries that are playing. For Ex. If playing 8 countries then allInfo[0] will contain 8 languages.
        // Places match to Questions. 
          allInfo[0] = countLangJs ;
          allInfo[1] = countCurrencyJs ;
          allInfo[2] = countCapitalsJs ;
          allInfo[3] = countPopulationJs ;
          allInfo[4] = countRegionJs ;
          allInfo[5] = countsubRegionJs ;
        const gameEndScreen =       document.getElementById('gameEndScreen');
        const newGameButton =       document.getElementById('newGameButton')
        const finalScreenScores =   document.getElementById('finalScreenScores')
        const chartdiv =            document.getElementById('chartdiv');
        const li =                  document.getElementById("correctAnswer") 
        const wrongLi =             document.getElementsByClassName("wrong")
        const allData = [
            ["Avar","Azerbaijani","Bambara","Basque","Bassa","Belarusian","Bemba","Bengal","Berta","Bisla","Bosnian","Breton","Buginese","Buhid","Bulgarian","Burmes","Carrier","Catalanian","Cebuano","Danish","Dargwa","Dhivehi","Dutch","Dzongkha","Erzya","Esperanto","Ees","Evenki","Ewe","Faroese","Fijian","Suo","French","Frisian","Creole","Himba ","Hindi","Hindustani","Hiri Motu ","Igbo","Jutis","Kaingang","Latin","Latvian","Lithuanian","Livonian"] ,
            ["apsar","ruble","pound","dinar","wanza","peso","dram","pound","manat","dollar","dinar","taka","franc","ngultrum","rupee","boliviano","mark","pula","real","lev","riel","escudo","yuan","kuna","guilder","koruna","krone","nakfa","birr","dalasi","lari","cedi","quetzal","gourde","lempira","forint","rupiah","new shekel","yen","tenge","shilling","won","som","kip","loti","rand","pataca","ariary","kwacha","ouguiya","leu","tögrög","dirham","metical","naira","lira","balboa","złoty","peseta"],
            ["Capital City","Abu Dhabi","Accra","Adamstown","Addis Ababa","Algiers","Alofi","Amman","Amsterdam","Andorra la Vella","Ankara","Antananarivo","Apia","Ashgabat","Asmara","Astana","Asunción","Athens","Avarua","Baghdad","Baku","Bamako","Bandar Seri Begawan","Bangkok","Bangui","Banjul","Basseterre","Beijing","Beirut","Belgrade","Belmopan","Berlin","Bern","Bishkek","Bissau","Bogota","Brasília","Bratislava","razzaville","Bridgetown","Brussels","Bucharest","Budapest","Buenos Aires","Conakry","Copenhagen","Damascus","Dhaka","Freetown","Funafuti","Gaborone","George Town","Georgetown","Georgetown","Gibraltar","Grytviken","Hamilton","Hanga Roa","Hanoi","Harare","Havana","Helsinki","Islamabad","Jakarta","Jamestown","Juba","Kampala","Khartoum","Kiev","Kigali","Kingston","Kuala Lumpur","Kuwait City","Lilongwe","Lima","Lisbon","Ljubljana","Lomé","London","Manama","Manila","Marigot","Maseru","Moscow","Muscat","Nairobi","Nassau","New Delhi","Niamey","Nicosia","Palikir","Panama City","Papeete","Paramaribo","Paris","Plymouth","Brades Estate","Podgorica","Cetinje","Port Louis","Port Moresby","Port Vila","Prague","Praia","Pristina","Pyongyang","Quito","Rabat","Reykjavík","Riga","Riyadh","Road Town","Rome","Roseau","Sarajevo","Seoul","Singapore","Skopje","Sofia","Sri Jayawardenepura Kotte","Colombo","Stockholm","Sukhumi","Suva","Taipei","Tallinn","Tashkent","Tbilisi"],
            [],
            ["Northern America", "South America", "Central America", "Eastern Europe","Western Europe","South Europe", "North Europe", "Australia","Northern Africa", "South Africa", "Eastern Asia", "Far East", "Middle East", "Antarctica", "Oceania"],
            ["Capital City","Abu Dhabi","Accra","Adamstown","Addis Ababa","Algiers","Alofi","Amman","Amsterdam","Andorra la Vella","Ankara","Antananarivo","Apia","Ashgabat","Asmara","Astana","Asunción","Athens","Avarua","Baghdad","Baku","Bamako","Bandar Seri Begawan","Bangkok","Bangui","Banjul","Basseterre","Beijing","Beirut","Belgrade","Belmopan","Berlin","Bern","Bishkek","Bissau","Bogota","Brasília","Bratislava","razzaville","Bridgetown","Brussels","Bucharest","Budapest","Buenos Aires","Conakry","Copenhagen","Damascus","Dhaka","Freetown","Funafuti","Gaborone","George Town","Georgetown","Georgetown","Gibraltar","Grytviken","Hamilton","Hanga Roa","Hanoi","Harare","Havana","Helsinki","Islamabad","Jakarta","Jamestown","Juba","Kampala","Khartoum","Kiev","Kigali","Kingston","Kuala Lumpur","Kuwait City","Lilongwe","Lima","Lisbon","Ljubljana","Lomé","London","Manama","Manila","Marigot","Maseru","Moscow","Muscat","Nairobi","Nassau","New Delhi","Niamey","Nicosia","Palikir","Panama City","Papeete","Paramaribo","Paris","Plymouth","Brades Estate","Podgorica","Cetinje","Port Louis","Port Moresby","Port Vila","Prague","Praia","Pristina","Pyongyang","Quito","Rabat","Reykjavík","Riga","Riyadh","Road Town","Rome","Roseau","Sarajevo","Seoul","Singapore","Skopje","Sofia","Sri Jayawardenepura Kotte","Colombo","Stockholm","Sukhumi","Suva","Taipei","Tallinn","Tashkent","Tbilisi"],
        ];
        //  DEFINING QUESTIONS
        const questions = [  
            "What is the official language in the ",
            "What is the national currency of "   , 
            "What is the capital of the "   ,
            "What is the population of the " ,
            "Part of which region is " ,
            "Part of which sub-region is " ,
        ];
          
        // filling allData[3] with random population
            function populationRandom() {
                for (i=0;i<220;i++) {
                    allData[3].push( Math.floor( Math.random()*650000000 )) 
                }
            }
            populationRandom();
        //  end of random population 
       
        // Start the game function. For now each click should change question to random question.
        
        function startGame() {
            let randomNum = Math.floor( Math.random()*5 )
                let b= questions[randomNum] + countNamesJs[randomNum] 
                          $('#question').html(b);         
                          li.innerHTML="<i id='correctLi' class='iconQuestion far fa-question-circle'>"  + '</i>' + countLangJs[randomNum]   
     
                          $('#scores').html(score);
                          getAnswers
        };
            
        // Event Listener on Start the game  
        
        $('#startTheGame').click( 
            startGame,
        );
        
        // Grabbing only  DATA that we would need for game from API and saving them into the array accordingly to questions.
        
        function getAnswers () {
            answers[0]=(allInfo[randomNum]);
            answers[1]=(allInfo[randomNum]);
            answers[2]=(allInfo[randomNum]);
            answers[3]=(allInfo[randomNum]);
            answers[4]=(allInfo[randomNum]);
    
             loadAnswer(answers);
          }
             
         //    Assigning correct and wrong answers to the 4 list items in UL.
        function loadAnswer  (answers) {
            li.innerHTML="<i id='correctLi' class='iconQuestion far fa-question-circle'>"  + '</i>' + answers[randomNum] 
                for (i=0;i<wrongLi.length;i++) {
                    wrongLi[i].innerHTML="<i id='wrongLi' class='iconQuestion far fa-question-circle'>" + '</i>' + allData[randomNum][ Math.floor( Math.random()*allData[randomNum].length ) ] 
                }
        }
     
        $("#newGameButton").click(function(){window.location.reload()})
        $("#playSameGameButton").click(function(){
          gameEndScreen.style.display='none';
          score=100;
        })
      
      //  RANDOMLY DISPLAYING ANSWER OPTIONS //
        var uls = document.querySelectorAll('ul');
        
            for (var j = 0; j < uls.length; j++) {
                var ul = uls.item(j);
                    for (var i = ul.children.length; i >= 0; i--) {
                       ul.appendChild(ul.children[Math.random() * i | 0]);
                    }
            }
    
      //   Selecting CORRECT and WROG ANSWER List Items   //
         var correctListItem = document.getElementById("correctAnswer");
         var wrongListItems = document.querySelectorAll(".wrong");
      
      //   Event listener on Correct and wrong answer List Items   //   
        correctListItem.addEventListener("click",function(){
            for (i=0; i <3; i++){
                wrongListItems[i].style.background="rgb(79, 46, 22, 0.75)"
            }    
            var uls = document.querySelectorAll('ul');
            
            for (var j = 0; j < uls.length; j++) {
                var ul = uls.item(j);
                    for (var i = ul.children.length; i >= 0; i--) {
                        ul.appendChild(ul.children[Math.random() * i | 0]);
                    }
            }
            // От старой версии игры осталось. Не думаю что нужно но нужен ее callback removeOld(). 
            if (questNumber < questions.length) {
                $('#question').html(questions[questNumber]+resp.name);
                questNumber++ 
                removeOld ()
                  function removeOld () {
                    var lis = document.querySelectorAll('li');
                      lis.innerHTML= ' ';
                        loadAnswer (answers);
                  }
            }
            else {console.log("YOU WON")
            gameEndScreen.style.display='inline-block'
              $('#question').html('')
                questNumber=0;
              finalScreenScores.innerHTML=score; 
                
            }
         });
         for (i=0; i <3; i++){
           wrongListItems[i].addEventListener("click",function(){
                   this.style.background="red"
    
           score=score-5;
            alert("Wrong!" + "Your score is " + score);
             $('#scores').html(score);
           })}
    </script>


     </body>
</html>