 <% include ../partials/header %>
 	
 		
		<% let foundUserShowPage=foundUser%>
		<% let foundUser1=foundUserShowPage._id  %>
		<% let foundUser2=foundUserShowPage.homeCountry.toLowerCase()%>
		<% let countryCode=foundUserShowPage.countryCode%>
     	<% let visitedCount=foundUserShowPage.countriesVisited%>
    
     	
	<script type="text/javascript" src="https://www.amcharts.com/lib/3/ammap.js"></script>
		<script type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
		<script type="text/javascript" src="https://www.amcharts.com/lib/3/ammap.js"></script>
		<script type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/<%=foundUser2%>Low.js"></script>
	

	
 		<% include ../partials/showPageHomeCountryMap %>
		   <% let facebookURL; %>
		   <% let twitterURL; %>
			   <% if(foundUserShowPage){ %>
			   <%   facebookURL=foundUserShowPage.facebookURL %>
			   <% } else { %>
			   <% facebookURL="#"} %>
			   <% if(foundUserShowPage.twitterURL){ %>
			   <%   twitterURL=foundUserShowPage.twitterURL %>
			   <% } else { %>
			   <% twitterURL="#"} %>
			   
		<div class='profileContainerLeftFrame '> 
  
			<div class="profileContainerLeft">
     			<div class='centerMe'>
     		     
     			<img id='avatarPhoto' class='profilePhoto' width="150px" src="<%=  foundUser.avatar %>">
			     <%if(currentUser && foundUser1.equals(currentUser._id)){ %>
			     <i type="button"  data-toggle="modal" data-target="#exampleModal" id='uploadAvatar'  class="fa fa-upload uploadAvatar"></i>
				<% } %>
				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Upload Avatar</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				      	<%if(currentUser){ %>
				       <form action="/user/<%=currentUser.id%>/upload" enctype="multipart/form-data" method="POST"> 
				             <input  class="btn btn-secondary"  type="file" name="photo" />
				             <input type="submit" value="Upload Photo"/>
				        </form>
 						<% } %>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 				      </div>
				    </div>
				  </div>
				</div>     	
 				         
						
     					<br>
     					
	     					<%if(currentUser && foundUser1.equals(currentUser._id)){ %>
	     					<a id='editProfileLink' href='/user/<%=foundUserShowPage._id%>/edit'>Edit profile</a>
	     					<% } %>
     				 
						<div class="social-btns">
     					 	<a class="btn facebook" href="<%-facebookURL%>"><i class="fa fa-facebook"></i></a>
     					 	<a class="btn twitter" href="<%-twitterURL%>"><i class="fa fa-twitter"></i></a>
     					 	<a class="btn google" href="#"><i class="fa fa-google"></i></a>
      					 	<a class="btn skype" href="#"><i class="fa fa-skype"></i></a>
						</div>
     				<div class='ratingShow' >
          				<span class="fa fa-star checked"></span>
          				<span class="fa fa-star checked"></span>
          				<span class="fa fa-star checked"></span>
          				<span class="fa fa-star"></span>
          				<span class="fa fa-star"></span>
     				</div>
     			</div>
			</div> 
  
			<div style='color: gray;' class='userDetails'>
				
			   <div class="panel panel-default">First Name
			     	<div class="panel-heading"><%=  foundUserShowPage.first %> </div>
			   </div>
			   <div class="panel panel-default">Last Name
			     	<div class="panel-heading"><%=  foundUserShowPage.last %> </div>
			   </div>  
			   <div class="panel panel-default">Email adddress
			     <div class="panel-heading"><%=  foundUserShowPage.email %> </div>
			   </div>
			   <div class="panel panel-default">Home City
			     <div class="panel-heading"><%=  foundUserShowPage.homeCity %> </div>
			   </div>
			   <div class="panel panel-default">Home Country
			     <div class="panel-heading"><%=  foundUserShowPage.homeCountry %> </div>
			   </div>
			  
			   <!--<div class="panel panel-danger">Home Country Code-->
			     <!--<div class="panel-heading"><%= // foundUserShowPage.countryCode %> </div>-->
			   <!--</div>-->
			    
			</div>
			  
		</div>

		<div class="profileContainerRight">
		
			<div class='row'>
				<div  class="col-lg-12">
					<h3>Visited Counties: </h3>	 
				</div>
				
				<div class="col-lg-12"  style="height: 40vh;">
					 <% include ../partials/editUserProfileMap %> 
					 	<h4 style='color: silver; width:90%; ::-webkit-scrollbar {width: 1px;} overflow-x:scroll;  overflow-y:hidden;'>	<%= foundUser.countriesVisited  %> </h4> 
					 
					 <%if(currentUser && foundUser1.equals(currentUser._id)){ %>
     				<a href="/user/<%-currentUser._id%>/game"><button class='btn btn-sm btn-warning pull-right' style="height: 40px; width:140px; position: absolute; top:11px; right:70px;">  Check Your knowledge </button></a>
     					<% } %>
				</div>
				 
				<hr>
				<div  class="col-lg-12">
					<h3>Home Country: </h3>	 
				</div>
				
				<div  class="col-lg-12" id="map1" ></div>
				<div  class="col-lg-12">
					<h3> <%=  foundUserShowPage.homeCountry %> </h3>	 
				</div>
			
			</div>
		
		</div>
</div>
</div>
 			<div   class="col-lg-9 latestPosts">
 						<h2> <%= foundUserShowPage.first %>'s posts </h2>	 
 				<% foundPosts.forEach(function(post){ %>
					<h3><%= post.name %> <br></h3>
					<img style="width: 80%;" src='<%= post.images[1] %>'> <hr> <br>
					<% for (i=0; i<post.cities.length; i++){ %>
					<span class="btn btn-lg btn-info pull-left">Cities Visited: <%= post.cities[i] %> </span>
					
		     		<% } %>
 		     		<span class='btn btn-lg btn-warning pull-right'> $<%= post.price %> per day </span>  <br>
					<h4><%= post.desc %> </h4>  
					<a href='/index/<%=post._id%>'><hr></gr>see post</a>
					<hr>
				<% }) %>
			</div>
		 