 <% include ../partials/header %>
    <%foundUserShowPage=foundUser%>
    <% let foundUser1=foundUserShowPage._id  %>
    <% let foundUser2=foundUserShowPage.homeCountry.toLowerCase()%>
    <% let countryCode=foundUserShowPage.countryCode%>
    
     	<script type="text/javascript" src="https://www.amcharts.com/lib/3/ammap.js"></script>
		<script type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>

<script type="text/javascript" src="https://www.amcharts.com/lib/3/ammap.js"></script>
		<script type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/<%=foundUser2%>Low.js"></script>

		<!-- amCharts javascript code -->
		<script type="text/javascript">
			AmCharts.makeChart("map1",{
					"type": "map",
					"pathToImages": "http://www.amcharts.com/lib/3/images/",
					"addClassNames": true,
					"fontSize": 15,
					"color": "#FFFFFF",
					"projection": "mercator",
					"backgroundAlpha": 1,
					"backgroundColor": "rgba(80,80,80,1)",
					"dataProvider": {
						"map": '<%=foundUser2%>Low',
						"getAreasFromMap": true,
						"images": [
							{
								"top": 40,
								"left": 60,
								"width": 80,
								"height": 40,
								"pixelMapperLogo": true,
								"imageURL": "http://pixelmap.amcharts.com/static/img/logo.svg",
								"url": "http://www.amcharts.com"
							},
							
							{
								"selectable": false,
								
								"svgPath": "M3.5,13.277C3.5,6.22,9.22,0.5,16.276,0.5C23.333,0.5,29.053,6.22,29.053,13.277C29.053,14.54,28.867,15.759,28.526,16.914C26.707,24.271,16.219,32.5,16.219,32.5C16.219,32.5,4.37,23.209,3.673,15.542C3.673,15.542,3.704,15.536,3.704,15.536C3.572,14.804,3.5,14.049,3.5,13.277C3.5,13.277,3.5,13.277,3.5,13.277M16.102,16.123C18.989,16.123,21.329,13.782,21.329,10.895C21.329,8.008,18.989,5.668,16.102,5.668C13.216,5.668,10.876,8.008,10.876,10.895C10.876,13.782,13.216,16.123,16.102,16.123C16.102,16.123,16.102,16.123,16.102,16.123",
								"color": "rgba(216,115,75,0.8)",
								"scale": 1
							}
						],
						"areas": [
							{
								"id": "<%foundUserShowPage.countryCode%>-BA",
								"title": '<%foundUserShowPage.homeCity%>',
								"color": "rgba(232,31,23,0.8)"
							}
						],
					
					},
					"balloon": {
						"horizontalPadding": 15,
						"borderAlpha": 0,
						"borderThickness": 1,
						"verticalPadding": 15
					},
					"areasSettings": {
						"color": "rgba(129,129,129,1)",
						"outlineColor": "rgba(80,80,80,1)",
						"rollOverOutlineColor": "rgba(80,80,80,1)",
						"rollOverBrightness": 20,
						"selectedBrightness": 20,
						"selectable": true,
						"unlistedAreasAlpha": 0,
						"unlistedAreasOutlineAlpha": 0
					},
					"imagesSettings": {
						"alpha": 1,
						"color": "rgba(129,129,129,1)",
						"outlineAlpha": 0,
						"rollOverOutlineAlpha": 0,
						"outlineColor": "rgba(80,80,80,1)",
						"rollOverBrightness": 20,
						"selectedBrightness": 20,
						"selectable": true
					},
					"linesSettings": {
						"color": "rgba(129,129,129,1)",
						"selectable": true,
						"rollOverBrightness": 20,
						"selectedBrightness": 20
					},
					"zoomControl": {
						"zoomControlEnabled": true,
						"homeButtonEnabled": false,
						"panControlEnabled": false,
						"right": 38,
						"bottom": 30,
						"minZoomLevel": 0.25,
						"gridHeight": 100,
						"gridAlpha": 0.1,
						"gridBackgroundAlpha": 0,
						"gridColor": "#FFFFFF",
						"draggerAlpha": 1,
						"buttonCornerRadius": 2
					}
				});
		</script>
		
 <div class='profileContainerLeftFrame'> 
  
  <div class="profileContainerLeft">
     <div class='centerMe'>
        <img class='profilePhoto' width="150px" src="<%=  foundUser.avatar %>">
        <br>
        <%if(currentUser && foundUser1.equals(currentUser._id)){ %>
          <a id='editProfileLink' href='/user/<%=foundUserShowPage._id%>/edit'>Edit profile</a>
        <% } %>
        <div class='ratingShow' >
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
      </div>
  </div> 
  
  <div class='userDetails'>
   <div class="panel panel-danger">First Name
     <div class="panel-heading"><%=  foundUserShowPage.first %>
     </div>
   </div>
   <div class="panel panel-danger">Last Name
     <div class="panel-heading"><%=  foundUserShowPage.last %>
     </div>
   </div>  
   <div class="panel panel-danger">Email adddress
     <div class="panel-heading"><%=  foundUserShowPage.email %>
     </div>
   </div>
   <div class="panel panel-danger">First Name
     <div class="panel-heading"><%=  foundUserShowPage.email %>
     </div>
   </div>
   
   <div class="panel panel-danger">Home City
     <div class="panel-heading"><%=  foundUserShowPage.homeCity %>
     </div>
   </div>
   <div class="panel panel-danger">Home Country
     <div class="panel-heading"><%=  foundUserShowPage.homeCountry %>
     </div>
   </div>
    <div class="panel panel-danger">Visited Countries
     <div class="panel-heading"><%=  foundUserShowPage.countriesVisited %>
     </div>
   </div>
   <div class="panel panel-danger">Country Code
     <div class="panel-heading"><%=  foundUserShowPage.countryCode %>
     </div>
   </div>
    
 </div>
  
 </div>

<div class="profileContainerRight">

	<div id="map1" style="width: 100%; height: 350px;"></div>

	<div id="latestPosts">
		<% foundPosts.forEach(function(post){ %>
			<h1><%= post.name %> <br></h1>
			<img style="width: 90%;" src='<%= post.image %>'> <br>
     		<h3><%= post.price %></h3> <br>
			<%= post.desc %>  <br>
			<a href='/index/<%=post._id%>'>see post</a>
		<% }) %>
	</div>

</div>

 

	<!-- amCharts javascript sources -->
	<!--	<script type="text/javascript" src="https://www.amcharts.com/lib/3/ammap.js"></script>-->
	<!--	<script type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>-->

		<!-- amCharts javascript code -->
	<!--	<script type="text/javascript">-->
	<!--		AmCharts.makeChart("map",{-->
	<!--				"type": "map",-->
	<!--				"pathToImages": "http://www.amcharts.com/lib/3/images/",-->
	<!--				"addClassNames": true,-->
	<!--				"fontSize": 15,-->
	<!--				"color": "#FFFFFF",-->
	<!--				"projection": "mercator",-->
	<!--				"backgroundAlpha": 1,-->
	<!--				"backgroundColor": "rgba(80,80,80,1)",-->
	<!--				"dataProvider": {-->
	<!--					"map": "worldLow",-->
	<!--					"getAreasFromMap": true,-->
	<!--					"images": [-->
	<!--						{-->
	<!--							"top": 40,-->
	<!--							"left": 60,-->
	<!--							"width": 80,-->
	<!--							"height": 40,-->
	<!--							"pixelMapperLogo": true,-->
	<!--							"imageURL": "http://pixelmap.amcharts.com/static/img/logo.svg",-->
	<!--							"url": "http://www.amcharts.com"-->
	<!--						}-->
	<!--					],-->
	<!--					"areas": [-->
	<!--						{-->
	<!--							"id": "CZ",-->
	<!--							"title": "Czech Republic",-->
	<!--							"color": "rgba(216,75,75,0.8)"-->
	<!--						},-->
	<!--						{-->
	<!--							"id": "KZ",-->
	<!--							"title": "Kazakhstan",-->
	<!--							"color": "rgba(216,110,75,0.8)"-->
	<!--						}-->
	<!--					]-->
	<!--				},-->
	<!--				"balloon": {-->
	<!--					"horizontalPadding": 15,-->
	<!--					"borderAlpha": 0,-->
	<!--					"borderThickness": 1,-->
	<!--					"verticalPadding": 15-->
	<!--				},-->
	<!--				"areasSettings": {-->
	<!--					"color": "rgba(129,129,129,1)",-->
	<!--					"outlineColor": "rgba(80,80,80,1)",-->
	<!--					"rollOverOutlineColor": "rgba(80,80,80,1)",-->
	<!--					"rollOverBrightness": 20,-->
	<!--					"selectedBrightness": 20,-->
	<!--					"selectable": true,-->
	<!--					"unlistedAreasAlpha": 0,-->
	<!--					"unlistedAreasOutlineAlpha": 0-->
	<!--				},-->
	<!--				"imagesSettings": {-->
	<!--					"alpha": 1,-->
	<!--					"color": "rgba(129,129,129,1)",-->
	<!--					"outlineAlpha": 0,-->
	<!--					"rollOverOutlineAlpha": 0,-->
	<!--					"outlineColor": "rgba(80,80,80,1)",-->
	<!--					"rollOverBrightness": 20,-->
	<!--					"selectedBrightness": 20,-->
	<!--					"selectable": true-->
	<!--				},-->
	<!--				"linesSettings": {-->
	<!--					"color": "rgba(129,129,129,1)",-->
	<!--					"selectable": true,-->
	<!--					"rollOverBrightness": 20,-->
	<!--					"selectedBrightness": 20-->
	<!--				},-->
	<!--				"zoomControl": {-->
	<!--					"zoomControlEnabled": true,-->
	<!--					"homeButtonEnabled": false,-->
	<!--					"panControlEnabled": false,-->
	<!--					"right": 38,-->
	<!--					"bottom": 30,-->
	<!--					"minZoomLevel": 0.25,-->
	<!--					"gridHeight": 100,-->
	<!--					"gridAlpha": 0.1,-->
	<!--					"gridBackgroundAlpha": 0,-->
	<!--					"gridColor": "#FFFFFF",-->
	<!--					"draggerAlpha": 1,-->
	<!--					"buttonCornerRadius": 2-->
	<!--				}-->
	<!--			});-->
	<!--	</script>-->
		
	<!--			<div id="map" style="width: 40%; height: 280px;"></div>-->
